.active {
    transition: all ease 0.5;
    border-bottom: 2px solid #2a59be;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:  fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: transparent;
    transition: 0.6s ease-in-out;
}

nav.active{
    box-shadow: 5px 10px 30px rgba(142, 105, 201, 0.157);
    background-color: white;
    border-bottom: #fff;
}
nav .title {
    padding-left: 2px;
    font-size: 1.8rem;
    margin: 1rem;
    font-weight: bolder;
    text-decoration: none;
    color: #234ca4;
}


nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
    display: block;
    text-decoration: none;
    color: #234ca4;
    padding: 0.5rem;
    margin: 0 0.5rem;

}

nav ul li  a:hover{
    border-bottom: 2px solid #234ca4;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.5rem;
    height: 2rem;
}

nav .menu span {
    height: 20px;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}


