body{
    font-family: 'Poppins',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.pic{
    margin: auto;
    width: 2000px;
    height:  600px;
    background: transparent;
    border:2px solid rgba(255, 255, 255, .2);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    padding-top: 50px;
    background-image: url(login.PNG);
    background-repeat: no-repeat;
}
.login{
    height: 100vh;
    padding-top: 66px;
    position: absolute;
    background: white;
    background-size: 300% 300%;
}

.add{
    margin-top: -420px;
    margin-left: 250px;
}

.add h3{
    font-size: x-large;
}

.add p{
    font-size: larger;
}

.btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 50px;
    color: #fff;
}


.signup {
    margin-top: 66px;
    height: 90vh;
    width:  100%;
    max-width: 100%;
    position: absolute;
    background: white;
}

.pik{
    margin: auto;
    width: 1500px;
    height:  600px;
    background: transparent;
    border:2px solid rgba(255, 255, 255, .2);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    background-image: url(regist.PNG);
    background-position: 90%;
    background-repeat: no-repeat;
}

.start{
    color:#234ca4;
    font-size: 48px;
    font-weight:700px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 220px;
}

.line{
    width:80px;
    height: 6px;
    background: #234ca4;
    border-radius: 9px;
    margin-left: 40px;
}

.rowflex{
    display: flex;
    flex-direction: row;
}

.inputss{
    margin-left: 15px;
    margin-top: 20px;
    flex-direction: column;
}

.inputt{
    width: 250px;
    height: 60px;
    background: transparent;
    outline: none;
    border: 2px solid #234ca4;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    margin: 10px 1rem;
}

.inputt::placeholder{
    padding-left: 30px;
}

.inputt input{
    height:20px;
    width: 180px;
    background:transparent;
    border:none;
    outline:none;
    color:#234ca4;
    font-size: 20px;
    margin-left: 20px;
}

.submitt-container{
    display: flex;
    gap: 30px;
    margin-left: 20px;
    margin-top: 10px;
}

.submitt{
    display: flex;
    justify-content: center;
    align-items:center;
    width:245px;
    height: 65px;
    color: #fff;
    background:#234ca4;
    border-radius: 50px;
    font-size:20px;
    font-weight: 70px;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 50px;
}
.submitt:hover{
    background: #676767;
    color: #EAEAEA;
}
.home {
    width: 100%;
    padding-top: 100px;
    min-height: 120vh;
    text-align: left;
    position: absolute;
    background-image: url('hoom.gif');
    background-size:  530px;
    background-position:90%;
    background-repeat: no-repeat;
}

.content{
    padding-top: 90px;
    padding-left: 100px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-bottom: 70px;
}
.content h1{
    font-family: 'Open Sans', sans-serif;
    color: #234ca4;
    letter-spacing: 0.5px;
    margin: 0 auto;
}
.container{
    margin: auto;
    width: 670px;
    background: transparent;
    border:2px solid rgba(255, 255, 255, .2);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.details{
    font-size:x-large;
    color:#263238;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
}

.header-btns{
    display: flex;
    margin-top: 20px;
    margin-left: 0.25%;
}
.header-btn{
	width:180px;
	height: 45px;
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: #234ca4;
    box-shadow: 5px 10px 30px rgba(99, 67, 173, 0.336);
    border-radius: 30px;
	color:#ffffff;
}
.header-btn:hover{
	background-color: transparent;
    transition: all ease 0.3s;
    color: #ffffff;
    border: 2px solid #234ca4;
}
.text{
    color:#234ca4;
    font-size: 48px;
    font-weight:700px;
}

.underline{
    width:61px;
    height: 6px;
    background: #234ca4;
    border-radius: 9px;
}

.inputs{
    margin-top: 50px;
    margin-left: 750px;
    flex-direction: column;
}

.input{
    width: 400px;
    height: 80px;
    background: transparent;
    outline: none;
    border: 2px solid #234ca4;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px 20px 0.2rem;
    margin: 20px 2rem;
}

.input::placeholder{
    padding-left: 30px;
}

.input input{
    height:30px;
    width: 320px;
    background:transparent;
    border:none;
    outline:none;
    color:#234ca4;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.container .forgot-password {
    display: flex;
    justify-content:space-evenly;
    font-size: 14.5px;
    margin: -15px 0 15px;
}


.forgot-password{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    color:#234ca4;
}

.forgot-password label{
    margin-right: 50px;
}
.forgot-password label input{
    accent-color: #234ca4 ;
    margin-right: 4px;
}

.forgot-password a{
    color: #234ca4;
    text-decoration: none;
}

.forgot-password a:hover{
    text-decoration: underline;
}


.submit-container{
    display: flex;
    gap: 30px;
    margin: 30px auto;
    padding-left: 120px;
}

.submit{
    display: flex;
    justify-content: center;
    align-items:center;
    width:220px;
    height: 59px;
    color: #fff;
    background:#234ca4;
    border-radius: 50px;
    font-size:20px;
    font-weight: 70px;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 50px;
}
.submit:hover{
    background: #676767;
    color: #EAEAEA;
}
.gray{
    background:#EAEAEA ;
    color: #676767;;
}

.icon {
    color: #234ca4;
    font-size: larger;
    margin-top: 15px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

  .not-found{
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .not-found-title{
    padding-top: 8%;
    font-size: 70px;
    font-weight: bold;
    color: red;
  }

  .not-found-text{
    font-size: 30px;
    color: #234ca4;
    margin-bottom: 30px;
  }

  .not-found-link{
    display: block;
    color: #234ca4;
    font-size: 21px;
    font-weight: 500;
    padding: 5px 2rem;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 12px;
  }

  .not-found-link:hover{
    background-color: #ad44af;
  }

